# 광주 버스 api 인증키
BUS_API_KEY = 5d12073e2b1145367a82b4a460f37d262fe158a61d227acd9ad6fa32d0070069

# --- TTS backend (GPT-SoVITS) ---
TTS_BACKEND=gpt_sovits_api
GPT_SOVITS_USE_API=1
GPT_SOVITS_API_TIMEOUT=90
GPT_SOVITS_API_URL=https://api.portfolio-corab.shop/
GPT_SOVITS_SPEAKER_ID=default_ko

