# 광주 버스 api 인증키
BUS_API_KEY = 

# --- TTS backend (GPT-SoVITS) ---
TTS_BACKEND=gpt_sovits_api
GPT_SOVITS_USE_API=1
GPT_SOVITS_API_TIMEOUT=90
GPT_SOVITS_API_URL=https://api.portfolio-corab.shop/
GPT_SOVITS_SPEAKER_ID=default_ko

